<h1>Hi there! Don't be shy!</h1>
<p>some cooler content goes in here, after we finish.</br> And some cool design, too.</p>

<p> So far, you can do this stuff:</p>
<div>
<%= link_to 'You can see our posts list', posts_path %>
</div> 